@charset "UTF-8";
/* CSS */

body {
  margin: 0;
  padding: 0;
	background-color: #eeeeee;
}

.logo {
  float: left;
}
/* ~~ Top Nav Bar ~~ */

#navigation-container {
  width: 1200px;
  margin: 0 auto;
  height: 70px;
}

.navigation-bar {
  background: rgba(0, 0, 0, 0.5); 
  height: 70px;
  width: 100%;
  text-align:center;
	
  /* Set the navbar to fixed position */ /* Position the navbar at the top of the page */
    position: fixed; 
    top: 0; 
}
.navigation-bar img{
float:left;
	width: 70px;
	padding: 10px;
}
.navigation-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  display:inline-block;
  vertical-align:top;
}

.navigation-bar li {
  list-style-type: none;
  padding: 0px;
  height: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  display: inline;
}

.navigation-bar li a {
  color: white;
  font-size: 14px;
	letter-spacing: 3px;
  font-family: 'Raleway', sans-serif;
	text-transform: uppercase;  text-decoration: none;
  line-height: 70px;
  padding: 5px 35px;
  opacity: 0.7;
}

.navigation-bar li a:hover {
  font-weight: 500;
}

#menu {
  float: right;
}

.container{
    background-image: url(https://images.unsplash.com/photo-1474401639975-278ecfd1b421?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1475&q=80);
	    background-attachment: fixed;
	position: relative; top: 0; overflow:scroll;
    background-repeat: no-repeat;
	background-size: 100% auto;
	width: 100%;
	height: 1000px;
	z-index: 0;
	top: 0;
}

/* equal height of the children */
.row {
  display: flex; 
}

/* additionally, equal width */
.col {
  flex: 1; 
  text-align: center;
  padding: 70px 30px;
}

.button {
    background-color: transparent;
    border: 1px #222222 solid;
    color: #222222;
    padding: 15px 32px;
    text-align: center;font-family: 'Playfair Display SC', serif;
font-weight: 700;
	letter-spacing: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.icon-calendar {
	font-family: 'untitled-font-1';
color: #c6aaa1;}

.icon-map-marker {
	font-family: 'untitled-font-1';
color: #b2c1cb;}

h1 {
	font-family: 'Playfair Display', serif;
font-size: 20px;
	font-style: italic;
	font-weight: 400;
	line-height: 20px;
}

h2 {
	font-family: 'Playfair Display', serif;
font-size: 20px;
	line-height: 15px;
	font-style: italic;
	font-weight: 400;	
	color: #b5b5b5;
	
}

.biglogo {
	position: fixed;
	width: 100%;
	text-align: center;
	z-index: 99;
	top: 30%;
}

h3 {
	font-family: 'Crimson Text', serif;
	color: #eeeeee;
	font-weight: 400;
	font-style: italic;
	margin-top: -80px;
	margin-left: 100px;
	letter-spacing: 5px;
	word-spacing: 10px;
}

.yellowhighlight {
	color: #e8da9b;
}